*.pyc
__pycache__/

*.pyo
*.swp
*.swo
*.swn
*.swo
*.sublime-work

venv/
.env/

*.log
*.bak
*.tmp

*.secret_key
*.env

**/migrations/

*.jwt

.history/

local_settings.py

postgresql.conf
pg_hba.conf
pg_ident.conf

pg_log/
